<div class="notice">
    <div class="box">
        <div class="container" *ngIf="noticeList.length > 0 ">
            <div class="row  font-size-md">
                <div class="col-xs-8" >
                    <div class="icon-group  icon-md" style="overflow: hidden;">
                        <span class="icon icon-title-notice"></span>
                        <notice-marquee [textList]="noticeList" (selected)="goNoticeDetail($event)"></notice-marquee>
                    </div>
                </div>
                <div class="col-xs-4 text-right">
                    <span class="icon-group more-notice" >
                        <!--<i class="icon icon-default icon-horizontal icon-md "></i>-->
                        <a  class="icon-txt text-success" routerLink="/contact/latest">更多公告 &gt;</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>