<div class="safety">
    <div class="box text-center">
        <div class="col-xs-6 col-md-3  content">
            <dl>
                <dt>
                    <span class="icon-group icon-xx-lg">
                        <span class="icon icon-safety-bank"></span>
                    </span>
                </dt>
                <dd class="text-info">银行存管</dd>
                <dd class="info font-size-md">所有资金流转均在上海银行内完成</dd>
            </dl>
        </div>
        <div class="col-xs-6 col-md-3  content">
            <dl>
                <dt>
                    <span class="icon-group icon-xx-lg">
                        <span class="icon icon-safety-insurance"></span>
                    </span>
                </dt>
                <dd class="text-info">安全保证</dd>
                <dd class="info font-size-md">风控严格，资金透明</dd>
            </dl>
        </div>
        <div class="col-xs-6 col-md-3">
            <dl>
                <dt>
                    <span class="icon-group icon-xx-lg">
                        <span class="icon  icon-safety-fouryear"></span>
                    </span>
                </dt>
                <dd class="text-info">四年积淀</dd>
                <dd class="info font-size-md">德信控股，良好信誉</dd>
            </dl>
        </div>
        <div class="col-xs-6 col-md-3">
            <dl>
                <dt>
                    <span class="icon-group icon-xx-lg">
                        <span class="icon  icon-safey-effiency"></span>
                    </span>
                </dt>
                <dd class="text-info">高效便捷</dd>
                <dd class="info font-size-md">时间灵活，费用全免</dd>
            </dl>
        </div>
    </div>
</div>