<div class="box coupondetail-content">

    <div class="star-left">
        <div class="change-success">
            <div class="success-img">
                <span class="icon-shop-success success-img-icon"></span>
            </div>
            <p class="text-info success-font">兑换成功</p>
            <p class="text-success font-size-large success-num">
                <!--<span>订单编号：</span><span>245679808</span>-->
            </p>
            <div>
                <a class="btn btn-md btn-cancel font-size-md " data-dismiss="modal" routerLink="/shop/starhome">继续兑换</a>
                <a class="btn btn-md  btn-affirm font-size-md" data-dismiss="modal" routerLink="/shop/detail/0">查看订单状态</a>
            </div>

        </div>

    </div>
    <div class="star-right">
        <div class="record">
            <div class="pay-title">
                <span class="to-pay font-size-xlarge">参与记录</span>
            </div>
            <ul>
                <li>
                    <div class="have-exchange">
                        <div class="content-l fl">
                            <p class="">名字</p>
                            <p class="">兑换了</p>
                            <p>10元提现券*1</p>
                        </div>
                        <div class="content-r fr">
                            <img src="../../../images/avatar.png" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="have-exchange">
                        <div class="content-l fl">
                            <p class="">名字</p>
                            <p class="">兑换了</p>
                            <p>10元提现券*1</p>
                        </div>
                        <div class="content-r fr">
                            <img src="../../../images/avatar.png" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="have-exchange">
                        <div class="content-l fl">
                            <p class="">名字</p>
                            <p class="">兑换了</p>
                            <p>10元提现券*1</p>
                        </div>
                        <div class="content-r fr">
                            <img src="../../../images/avatar.png" alt="">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>