<div class="success">
    <div class="container">
        <div class="success-box">
            <dl class="text-center">
                <dt>
                    <span class="icon-group">
                        <span class="icon icon-vertical icon-x-lg icon-status-success"></span>
                    </span>
                </dt>
                <dd><span class="font-size-md text-info">开通第三方支付托管成功</span></dd>
                <dd><span class="font-size-xsmall text-success">恭喜你获得1000星币</span></dd>
            </dl>
        </div>
    </div>
</div>
