<div class="success">
    <div class="container">
        <div class="success-box">
            <dl class="text-center">
                <dt>
                    <span class="icon-group icon-xx-lg ">
                        <span class="icon  icon-status-success"></span>
                    </span>
                </dt>
                <dd><span class="font-size-large text-info">恭喜您注册成功</span></dd>
                <dd><span class="font-size-xsmall text-success">您已领取<span class="text-danger">899</span>元投资代金券！去开通第三方托管账户，再领<span class="text-danger">1000</span>星币</span></dd>
                <dd>
                    <a class="open-mmm" routerLink="/sign/mmm">
                        <span class="font-size-md">立即开通</span>
                    </a>
                </dd>
            </dl>
        </div>
    </div>
</div>
