<div class="coupon font-size-small">
    <div class="tab left-padding">
        <a class="tab-item tab-color cursor-pointer" [ngClass]="{active:switch == 0}" (click)="switch=0;statusSwitch=1;getMyTickets(0,statusSwitch,1)">现金券（<span [innerHtml]="count.cashTickets">8</span>）</a>
        <a class="tab-item tab-color cursor-pointer" [ngClass]="{active:switch == 1}" (click)="switch=1;statusSwitch=1;getMyTickets(1,statusSwitch,1)">提现券（<span [innerHtml]="count.withdrawTickets">0</span>）</a>
        <a class="tab-item tab-color cursor-pointer" [ngClass]="{active:switch == 2}" (click)="switch=2;statusSwitch=1;getMyTickets(2,statusSwitch,1)">加息券（<span [innerHtml]="count.rateTickets">5</span>）</a>
        <a class="fr text-warning" [style.display]="switch == 0 ? 'block':'none'" routerLink="/help">如何使用现金券？</a>
        <a class="fr text-warning"  [style.display]="switch == 1 ? 'block':'none'"  routerLink="/help">如何使用提现券？</a>
        <a class="fr text-warning"  [style.display]="switch == 2 ? 'block':'none'"  routerLink="/help">如何使用加息券？</a>
    </div>
    <ul class="sub-tab left-padding" >
        <li><a class="btn btn-md" [class.active]="statusSwitch==1"
               (click)="statusSwitch=1;getMyTickets(switch,statusSwitch)">未使用</a></li>
        <li><a class="btn btn-md" [class.active]="statusSwitch==2"
               (click)="statusSwitch=2;getMyTickets(switch,statusSwitch)">已使用</a></li>
        <li *ngIf="switch != 1"><a class="btn btn-md" [class.active]="statusSwitch==3"
               (click)="statusSwitch=3;getMyTickets(switch,statusSwitch)" >已失效</a></li>

    </ul>
    <ul class="coupon-show" *ngIf="switch  == 0">
        <li *ngFor="let ticket of tickets">
            <div class="ticket-box">
                <div class="top-box " [ngClass]="ticket.status == 1 ? 'icon-my-cash':'icon-my-tickt-out'">
                    <span class="word-left" [innerHtml]="ticket.value">
                        10
                    </span>
                    <span class="word-right">
                        <span class="right-top-word">￥</span><br>
                        <span class="right-bottom-word">现金券</span>
                    </span>
                </div>
                <div class="bottom-box">
                    <p class="line-word">
                        <span>使用规则：</span>
                        <span [innerHtml]="ticket.useRule">投资券可用投资额</span>
                    </p>
                    <p class="line-word" *ngIf="ticket.status == 2">
                        <span>可用投资额：</span>
                        <span  [innerHtml]="ticket.useLimitMoney">投资券使用时间</span>
                    </p>
                    <p class="line-word">
                        <span>有效时间：</span>
                        <span [innerHtml]="ticket.expireTimeline | date:'y-MM-dd'">投资券过期时间</span>
                    </p>
                    <p class="line-word">
                        <span>来源：</span>
                        <span [innerHtml]="ticket.remark">投资券过期时间</span>
                    </p>
                </div>
            </div>
        </li>
    </ul>
    <!--提现券-->
    <ul class="coupon-show" *ngIf="switch  == 1">
        <li *ngIf="withdrawTicketNum.unusedCount > 0 || withdrawTicketNum.usedCount > 0">
            <div class="ticket-box">
                <div class="top-box " [ngClass]="statusSwitch == 1 ? 'icon-my-withdraw-bg':'icon-my-tickt-out'">
                    <span class="word-left" *ngIf="statusSwitch == 1">
                        {{withdrawTicketNum.unusedCount}}
                    </span>
                    <span class="word-left" *ngIf="statusSwitch == 2">
                        {{withdrawTicketNum.usedCount}}
                    </span>
                    <span class="word-right">
                        <span class="right-top-word">张</span><br>
                        <span class="right-bottom-word">提现券</span>
                    </span>
                </div>
                <div class="bottom-box">
                    <p class="line-word">
                        <span>使用规则：</span>
                        <span>可抵扣提现手续费</span>
                    </p>
                    <p class="line-word">
                        <span>有效时间：</span>
                        <span>永久</span>
                    </p>
                </div>
            </div>
        </li>
    </ul>
    <!--加息券-->
    <ul class="coupon-show" *ngIf="switch  == 2">
        <li *ngFor="let ticket of tickets">
            <div class="ticket-box">
                <div class="top-box" [ngClass]="ticket.status == 1 ? 'icon-my-rate':'icon-my-tickt-out'">
                    <span class="word-left" [innerHtml]="ticket.rate">
                        10
                    </span>
                    <span class="word-right">
                        <span class="right-top-word">%</span><br>
                        <span class="right-bottom-word" [innerHtml]="ticket.name">加息券</span>
                    </span>
                </div>
                <div class="bottom-box">
                    <p class="line-word">
                        <span>使用规则：</span>
                        <span [innerHtml]="ticket.useRule"></span>
                    </p>
                    <!--<p class="line-word">-->
                        <!--<span>加息上限：</span>-->
                        <!--<span [innerHtml]="ticket.maxMoney">100</span>-->
                    <!--</p>-->
                    <!--<p class="line-word">-->
                        <!--<span>加息期限：</span>-->
                        <!--<span  [innerHtml]="ticket.rateDuration"></span>-->
                        <!--<span>天</span>-->
                    <!--</p>-->
                    <!--<p class="line-word" *ngIf="ticket.status == 2">-->
                        <!--<span>使用时间：</span>-->
                        <!--<span  [innerHtml]="ticket.usedTimeline | date:'y-MM-dd'"></span>-->
                        <!--<span>天</span>-->
                    <!--</p>-->
                    <p class="line-word">
                        <span>有效时间：</span>
                        <span [innerHtml]="ticket.getTimeline | date:'y-MM-dd'"></span>
                        <span>至</span>
                        <span [innerHtml]="ticket.expireTimeline | date:'y-MM-dd'"></span>
                    </p>
                    <!--<p class="line-word" *ngIf="ticket.status == 2">-->
                        <!--<span>备注：</span>-->
                        <!--<span [innerHtml]="ticket.usedRemark"></span>-->
                    <!--</p>-->
                    <p class="line-word">
                        <span>来源：</span>
                        <span class="source" [innerHtml]="ticket.getRemark">投资券过期时间</span>
                    </p>
                </div>
            </div>
        </li>


    </ul>
    <div class="page-top">
        <p class="text-center font-size-md text-success" *ngIf="totalPage <= 0">
            <span class="icon-my-nodata"></span><br>
            暂无数据
        </p>
        <pager *ngIf="totalPage > 0"  [refresh]="queryParam.pageNumber == 1 ? true:false"  [totalPage]="totalPage" (changePage)="selectPage($event)" ></pager>
    </div>
</div>