<div class="my-component">
    <div class="my-bg box">
        <div class="my-content">
            <div class="my-left l-width fl">
                <my-menu></my-menu>
            </div>
            <div class="my-right r-width fr">

                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>






<!--<div class="my">-->
    <!--<div class="container">-->
        <!--<div class="row data">-->
            <!--<div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">-->
                <!--<my-head></my-head>-->
                <!--<my-menu></my-menu>-->
            <!--</div>-->
            <!--<div class="col-xs-7 col-sm-8 col-md-9 col-lg-10">-->
                <!--<router-outlet></router-outlet>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
