<div class="contactUs">
    <div class="content-box">
        <span class="icon-group icon-lg">
            <span class="icon icon-us-service"></span>
        </span>
        <h3>客户服务</h3>
        <p>客服电话：{{Config.appConfig.tel}}（周一至周五 09:00-17:00）(仅限客户服务)</p>
        <p>市场或媒体合作及反馈请发邮件：<a target="_blank" href="mailto:support@xingtouzi.com">support@xingtouzi.com</a></p>
    </div>
    <div class="content-box">
        <span class="icon-group icon-lg">
            <span class="icon icon-us-raise"></span>
        </span>
        <h3>企业融资</h3>
        <p>如果您的企业有资金需求，希望在星投资进行融资，请将您的企业和项目资料发送到公司邮箱：<a target="_blank" href="mailto:support@xingtouzi.com">support@xingtouzi.com</a></p>
    </div>
    <div class="content-box">
        <span class="icon-group icon-lg">
            <span class="icon icon-us-address"></span>
        </span>
        <h3>上海总公司</h3>
        <p>上海市闵行区申滨路25号B303</p>
    </div>
    <div class="content-box">
        <ul class="qrcode">
            <li>
                <img src="../../../images/qrcode.jpg" alt="">
                <p>星投资官方微信</p>
            </li>
            <li>
                <img src="../../../images/qrcode.jpg" alt="">
                <p>星投资官方微博</p>
            </li>
        </ul>
    </div>
    <bmap></bmap>
</div>