<div class="insurance">
    <div class="bg"></div>
    <!--<ul>-->
        <!--<li class="first-line">-->
            <!--<dl>-->
                <!--<dt>-->
                    <!--<span class="icon-group icon-lg">-->
                        <!--<span class="icon icon-insurance-01"></span>-->
                    <!--</span>-->
                <!--</dt>-->
                <!--<dd class="title">资金安全保障</dd>-->
                <!--<dd class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto, corporis fuga id libero minus optio rerum veritatis. Debitis dolorum fuga hic obcaecati officia quisquam sed vero? Amet, distinctio nesciunt.</dd>-->
            <!--</dl>-->
        <!--</li>-->
        <!--<li class="first-line">-->
            <!--<dl>-->
                <!--<dt>-->
                    <!--<span class="icon-group icon-lg">-->
                        <!--<span class="icon icon-insurance-02"></span>-->
                    <!--</span>-->
                <!--</dt>-->
                <!--<dd class="title">资金安全保障</dd>-->
                <!--<dd class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto, corporis fuga id libero minus optio rerum veritatis. Debitis dolorum fuga hic obcaecati officia quisquam sed vero? Amet, distinctio nesciunt.</dd>-->
            <!--</dl>-->
        <!--</li>-->
        <!--<li>-->
            <!--<dl>-->
                <!--<dt>-->
                    <!--<span class="icon-group icon-lg">-->
                        <!--<span class="icon icon-insurance-03"></span>-->
                    <!--</span>-->
                <!--</dt>-->
                <!--<dd class="title">资金安全保障</dd>-->
                <!--<dd class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto, corporis fuga id libero minus optio rerum veritatis. Debitis dolorum fuga hic obcaecati officia quisquam sed vero? Amet, distinctio nesciunt.</dd>-->
            <!--</dl>-->
        <!--</li>-->
        <!--<li>-->
            <!--<dl>-->
                <!--<dt>-->
                    <!--<span class="icon-group icon-lg">-->
                        <!--<span class="icon icon-insurance-04"></span>-->
                    <!--</span>-->
                <!--</dt>-->
                <!--<dd class="title">资金安全保障</dd>-->
                <!--<dd class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto, corporis fuga id libero minus optio rerum veritatis. Debitis dolorum fuga hic obcaecati officia quisquam sed vero? Amet, distinctio nesciunt.</dd>-->
            <!--</dl>-->
        <!--</li>-->
        <!--<li>-->
            <!--<dl>-->
                <!--<dt>-->
                    <!--<span class="icon-group icon-lg">-->
                        <!--<span class="icon icon-insurance-05"></span>-->
                    <!--</span>-->
                <!--</dt>-->
                <!--<dd class="title">资金安全保障</dd>-->
                <!--<dd class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto, corporis fuga id libero minus optio rerum veritatis. Debitis dolorum fuga hic obcaecati officia quisquam sed vero? Amet, distinctio nesciunt.</dd>-->
            <!--</dl>-->
        <!--</li>-->
        <!--<li>-->
            <!--<dl>-->
                <!--<dt>-->
                    <!--<span class="icon-group icon-lg">-->
                        <!--<span class="icon icon-insurance-06"></span>-->
                    <!--</span>-->
                <!--</dt>-->
                <!--<dd class="title">资金安全保障</dd>-->
                <!--<dd class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto, corporis fuga id libero minus optio rerum veritatis. Debitis dolorum fuga hic obcaecati officia quisquam sed vero? Amet, distinctio nesciunt.</dd>-->
            <!--</dl>-->
        <!--</li>-->
    <!--</ul>-->
</div>