<div class="intro">
    <div class="my-sub-title font-size-large text-info">
        <span>公司介绍</span>
    </div>
    <div class="intro-content contact-text-format">
        <p>
            星投资（www.xingtouzi.com）是房地产百强企业德信控股集团旗下互联网金融综合服务平台，总部位于全国金融中心上海，于2014年3月正式上线运营。
        </p>
        <p>星投资致力于打造消费金融新模式——依托德信集团优质的渠道客户资源及星投资自身丰富的金融行业经验以及安全可靠的风控审核机制，努力创造“方便、快捷”的消费融资服务体验，致力于成为消费导向型的专业化个人融资渠道，贴近新一代消费群体的需求，带来更便捷、更专业、更灵活的消费融资及服务。</p>
        <p>星投资平台采用先进的第三方账户托管系统，严格杜绝资金池，资金流向公开透明。根据监管部门要求，平台按时公开披露平台运营情况，并定期由第三方审计机构对平台财务情况进行审计监督，确保运营合规合法。平台上线后一直秉承严格风控、诚信经营、稳健发展的经营理念，深受行业认可，先后加入上海市经济和信息委员会下属的上海市信息服务行业协会、金融信息服务专业委员会。</p>
        <p>星投资管理团队为从业于金融、互联网行业多年的精英团队，拥有丰富成熟的互联网运作经验和专业金融风控背景。未来，星投资将继续以突破性的创新思维和科学态度努力，全力推动普惠金融和消费金融的发展，助力消费结构升级， 同时围绕 “产品升级、安全稳健、科技智能”的发展理念，向更为安全、更为智能的互联网金融平台迈进，满足投资人更加多元化、人性化的投资需求。</p>
    </div>
    <div class="my-sub-title font-size-large text-info">
        <span>星投资优势</span>
    </div>
    <ul class="advantage">
        <li>
            <dl>
                <dt>
                    <span class="icon-group icon-lg">
                        <span class="icon icon-advantage-01"></span>
                    </span>
                </dt>
                <dd><span><i>雄厚</i>集团支持，德信实力护航</span></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>
                    <span class="icon-group icon-lg">
                        <span class="icon icon-advantage-02"></span>
                    </span>
                </dt>
                <dd><span><i>多重</i>专业风控，臻选优质资产</span></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>
                    <span class="icon-group icon-lg">
                        <span class="icon icon-advantage-03"></span>
                    </span>
                </dt>
                <dd><span><i>资金</i>全程托管，财富安全无忧</span></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>
                    <span class="icon-group icon-lg">
                        <span class="icon icon-advantage-04"></span>
                    </span>
                </dt>
                <dd><span><i>智能</i>系统管理，科技领创未来</span></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>
                    <span class="icon-group icon-lg">
                        <span class="icon icon-advantage-05"></span>
                    </span>
                </dt>
                <dd><span><i>专业</i>运营团队，打造优秀平台</span></dd>
            </dl>
        </li>
    </ul>
    <div class="my-sub-title font-size-large text-info">
        <span>星投资历程</span>
    </div>
    <div class="history">
        <table>
            <tr>
                <td><span class="timeline">2013年11月</span></td>
                <td><a class="point"><span></span></a></td>
                <td><span class="event">星投资平台隶属公司上海星湖金融信息服务有限公司在上海自贸区成立</span></td>
            </tr>
            <tr>
                <td><span class="event left">星投资平台正式上线</span></td>
                <td><a class="point"><span></span></a></td>
                <td><span class="timeline">2013年11月</span></td>
            </tr>
            <tr>
                <td><span class="timeline">2014年3月</span></td>
                <td><a class="point"><span></span></a></td>
                <td><span class="event">星投资加入上海市经济和信息化委员会下属的上海市信息服务行业协会，并同时加入协会下属的金融信息服务业专业委员会</span></td>
            </tr>
            <tr>
                <td><span class="event left">星投资通过CFCA安全认证</span></td>
                <td><a class="point"><span></span></a></td>
                <td><span class="timeline">2014年7月</span></td>
            </tr>
            <tr>
                <td><span class="timeline">2014年9月</span></td>
                <td><a class="point"><span></span></a></td>
                <td><span class="event">与上海锦天城律师事务所合作成立“互联网金融法律扶助中心”</span></td>
            </tr>
            <tr>
                <td><span class="event left">评选为国内P2B网贷平台TOP10</span></td>
                <td><a class="point"><span></span></a></td>
                <td><span class="timeline">2014年10月</span></td>
            </tr>
            <tr>
                <td><span class="timeline">2015年1月</span></td>
                <td><a class="point"><span></span></a></td>
                <td><span class="event">星平台累计交易额突破1亿元</span></td>
            </tr>
            <tr>
                <td><span class="event left">进军汽车金融领域，发布汽车金融产品</span></td>
                <td><a class="point"><span></span></a></td>
                <td><span class="timeline">2015年9月</span></td>
            </tr>
            <tr>
                <td><span class="timeline">2016年5月</span></td>
                <td><a class="point"><span></span></a></td>
                <td><span class="event">星投资移动端上线（含微信、iOS及安卓系统app）</span></td>
            </tr>
            <tr>
                <td><span class="event left">平台累计交易额突破2亿元</span></td>
                <td><a class="point"><span></span></a></td>
                <td><span class="timeline">2016年9月</span></td>
            </tr>
            <tr>
                <td><span class="timeline">2016年10月</span></td>
                <td><a class="point last"><span></span></a></td>
                <td><span class="event">德信集团投资控股</span></td>
            </tr>
        </table>
    </div>
    <div class="my-sub-title font-size-large text-info">
        <span>公司注册信息</span>
    </div>
    <div class="file-multiple">
        <p class="file"><img [src]="url"></p>
        <carousel-multiple  [imgList]="urls" [contentWidth]="800" [contentHeight]="100" [frameWidth]="190" [marginRight]="75" [minNumber]="3" (selected)="getFile($event)"></carousel-multiple>
    </div>
</div>