<div class="floatBox">
    <ul>
        <li><a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=4008239800&f=1&ty=1&aty=0&a=&from=5" target="_blank" title="在线客服">
             <span class="icon-group icon-md">
                  <span class="icon icon-float-kefu"></span>
             </span>
        </a></li>
        <li><a routerLink="/help/download"  target="_blank" title="客户端下载">
             <span class="icon-group icon-md">
                  <span class="icon icon-float-download"></span>
             </span>
        </a></li>
        <li class="qrcode-img"><a  class="hover">
             <span class="icon-group icon-md">
                  <span class="icon icon-float-wechat"></span>
             </span>
        </a>
         <div class="qrcode-box"></div>
        </li>
        <li><a (click)="jumpToTop()" class="hover">
             <span class="icon-group icon-md">
                  <span class="icon icon-float-arrowup"></span>
             </span>
        </a></li>
    </ul>
</div>