<div class="modal"  id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-body  font-size-small text-center">
            <img src="../../../images/popup.png" alt="" usemap="#popupmap">
            <map name="popupmap" id="popupmap">
                <area class="hover" shape="rect" coords="866,113,889,132" data-dismiss="modal"/>
                <area class="hover" shape="rect" coords="743,335,822,363" data-dismiss="modal"/>
            </map>
        </div>
        <!--<div class="modal-body  font-size-small text-center" *ngIf="isActivityValid">-->
            <!--<img src="../../../images/others/popbox.png" alt="" usemap="#activity">-->
            <!--<map name="activity" id="activity">-->
                <!--<area class="hover" shape="rect" coords="867,103,889,123" data-dismiss="modal"/>-->
                <!--<area class="hover" shape="rect" coords="0,64,900,450"  href="/activity/shuangdan/index/1" (click)="closeModal()"/>-->
            <!--</map>-->
        <!--</div>-->
    </div>
</div>
